@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'belwe';
        src: url('../fonts/belwe/BelweMediumBT.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'belwe';
        src: url('../fonts/belwe/BelweBoldBT.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
    }
}